In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
product_data = pd.read_csv('./product.csv', error_bad_lines=False, dtype=str).fillna('없음')

# ### 몽클레어, 겐조, 에르노, 닐바렛 은(는) 모델명 이상으로 처음부터 제거

idx_specific_brand = product_data[(product_data['제조사'] == '몽클레어') | (product_data['제조사'] == '겐조') | (product_data['제조사'] == '에르노') | (product_data['제조사'] == '닐바렛')].index
product_data = product_data.drop(idx_specific_brand)

product_data = np.array(product_data[['상품 코드', '상품명', '중분류 카테고리명', '소분류 카테고리명', '세분류 카테고리명']])

productmodelcode = []
p = re.compile(r'[a-zA-Z0-9-]{5,}')
p2 = re.compile(r'^[a-zA-Z-]{5,}$')
for single_product in product_data:
    matched = p.findall(single_product[1])
    if len(matched) != 0:
        justeng = p2.match(matched[-1])
        if justeng == None:
            productmodelcode.append([single_product[0], matched[-1], single_product[2], single_product[3], single_product[4]])

productmodeltable = pd.DataFrame(productmodelcode, columns=['상품 코드', '모델명', '중분류 카테고리명', '소분류 카테고리명', '세분류 카테고리명'])

productmodeltable_drop_dupl = productmodeltable.drop_duplicates(['모델명'], keep=False)

In [3]:
productmodeltable_drop_dupl

           상품 코드             모델명 중분류 카테고리명 소분류 카테고리명 세분류 카테고리명
0       10485921     HSPA0B110G1        하의        바지        여성
1        6291554     FHMMCTR504M        상의       티셔츠        여성
2        6291555     FS2TRA2R01X        하의        바지     스포츠의류
3        6291557     TGTS8B552R2        상의       티셔츠        남성
4        6291569     TGTS8B504N2        상의       티셔츠        남성
...          ...             ...       ...       ...       ...
855263   8388489     HZTS9B832N2        상의       티셔츠        남성
855264   4194249  TG4U5MTJ350432       아우터        자켓        남성
855265   4194248     KMD-KP721W0        상의        니트        여성
855266   6291366   31TSCL831-50W        상의       티셔츠        남성
855267   6291362  LWSKFK0100BK26        하의       스커트        없음

[753382 rows x 5 columns]

In [5]:
productmodeltable_drop_dupl.to_csv("./productData.csv", index=False)